.clearfix {
    *zoom: 1;
}

.clearfix::before, .clearfix::after {
    display: table;
    content: '';
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

.updated.notice {
    border-color: #ffba00 !important;
}

.wp-list-table .column-ID {
    width: 4em;
}

.thumbnail .action .details-url {
    width: 100%;
    max-width: 700px;
}

.image-details .media-modal {
    left: 30px !important;
    right: 30px !important;
}

.attachment-info .settings {
    border-bottom-width: 0 !important;
}

.attachment-info .settings h3 {
    margin: 10px 0;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
}

.attachment-info .setting .link-options {
    width: 65%;
    float: right;
    margin: 1px;
}

.attachment-info .setting .link-options input[type="text"] {
    width: 98%;
    float: none;
    margin: 5px 0 0 0;
}

.attachment-info .setting .link-options label {
    margin-top: 5px;
}

.attachment-info .setting .link-options input[type="checkbox"] {
    margin: -1px 5px 0 0 !important;
}

.attachment-info .column-settings h3.no-border {
    border-top-width: 0;
    padding-top: 0;
}

.description {
    font-size: 11px !important;
    font-style: italic !important;
    display: block !important;
    color: #777 !important;
    padding: 5px 0 !important;
}

.media-modal .description {
    margin-top: 10px !important;
}

.media-modal .media-embed .thumbnail {
    max-height: none;
    max-width: none;
}

.media-modal .media-embed .thumbnail img {
    max-height: none;
    max-width: 1000px;
    width: 100%;
}

.list {
    margin: 0 0 20px 20px !important;
}

.list li {
    font-size: 11px !important;
    color: #777 !important;
}

.toolbar-container .media-toolbar {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5;
    margin-top: 10px;
    margin-bottom: 15px;
    position: relative;
    height: auto;
}

.toolbar-container .media-toolbar .media-toolbar-primary,
.toolbar-container .media-toolbar .media-toolbar-secondary {
    max-width: 50%;
    min-width: 384px;
}

.toolbar-container .media-toolbar .media-toolbar-primary {
    text-align: right;
}

.toolbar-container .media-toolbar .media-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toolbar-container .media-toolbar .randomize {
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    display: inline-block;
}

.toolbar-container .media-toolbar .randomize input[type="checkbox"] {
    margin-top: -2px;
    margin-right: 8px;
}

.toolbar-container .media-toolbar .media-button {
    float: none;
}

.toolbar-container .title-form {
    float: left;
    margin-top: 9px;
}

.toolbar-container .title-form .media-button {
    margin-top: 1px;
    margin-left: 0;
}

.toolbar-container .title-form label {
    vertical-align: top;
    font-weight: bold;
    line-height: 32px;
    margin: 0 5px 0 0;
}

.toolbar-container .title-form input[type="text"] {
    margin: 0;
    padding: 3px 5px;
    width: 280px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

.main-container {
    margin-right: 300px;
}

.slides-container {
    width: 100%;
    float: left;
}

.settings-container {
    float: right;
    margin-right: -300px;
    width: 280px;
}

.settings-container .banners a {
    display: block;
    margin-bottom: 15px;
}

.settings-container .widgets-holder-wrap {
    margin-top: 0;
    margin-bottom: 10px;
}

.settings-container .sidebar-name {
    border-bottom: 1px solid #eee;
}

.settings-container .sidebar-name h3 {
    padding: 15px;
}

.settings-container .sidebar-name-arrow:before {
    top: 4px !important;
}

.settings-container.closed .sidebar-name {
    border-width: 0;
}

.settings-container .sidebar-content {
    border-width: 0 1px 1px;
    border-style: none solid solid;
    border-color: #fff;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 15px;
    min-height: 20px;
}

.settings-container .sidebar-content .divider {
    margin-bottom: 0;
}

.settings-container .sidebar-content .field,
.settings-container .sidebar-content .radio {
    width: 100%;
    margin: 1em 0;
}

.settings-container .sidebar-content .field span {
    font-weight: bold;
    display: block;
}

.settings-container .sidebar-content .field {
    float: left;
}

.settings-container .sidebar-content .field select,
.settings-container .sidebar-content .field input[type="text"],
.settings-container .sidebar-content .field input[type="number"] {
    width: 90%;
}

.settings-container .sidebar-content .field input[type="checkbox"] {
    margin-right: 4px;
}

.settings-container .sidebar-content .radio > span {
    font-weight: bold;
    float: left;
}

.settings-container .sidebar-content .radio .buttons {
    float: right;
}

.settings-container .sidebar-content .radio .buttons label {
    margin-right: 10px;
}

.settings-container .sidebar-content .radio .buttons input {
    margin-top: 0;
    margin-right: 2px;
}

.settings-container .sidebar-content .advanced-options.hidden {
    display: none !important;
}

.settings-container .sidebar-content .show-advanced-options {
    margin: 15px 0;
    font-weight: bold;
    display: block;
}

.settings-container .sidebar-content .manage-slides-buttons .dashicons-plus {
    line-height: 28px;
}

.settings-container .sidebar-content .manage-slides-buttons .dashicons-trash {
    line-height: 27px;
}

.settings-container .sidebar-content .misc-pub-section {
    padding-left: 0;
    padding-right: 0;
}

.settings-container .dimension-settings .field.half {
    width: 45%;
}

.settings-container .dimension-settings .field.half:first-child {
    margin-right: 5%;
}

#slides-browser .ui-sortable {
    min-height: 300px;
}

#slides-browser .spinner {
    float: left;
    display: inline;
}

#slides-browser .attachment .toolbar {
    display: none;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}

#slides-browser .attachment:hover .toolbar {
    display: block;
}

#slides-browser .attachment .toolbar i {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 7px;
    margin-left: 7px;
    padding: 2px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    z-index: 9999;
    color: #fff;
}

#slides-browser .attachment .toolbar i:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    background-color: #000;
    color: #2ea2cc;
}

#slides-browser .attachment .check div {
	background-position: 21px 0;
}

#slides-browser .attachment.selected .check div {
	background-position: -21px 0;
}

#slides-browser .attachment.selected .check:hover div {
	background-position: -60px 0;
}

#slides-browser .thumbnail img {
    width: 100%;
}

#slides-browser .thumbnail img.icon {
    width: auto;
}

#slides-browser .thumbnail:hover .delete-button {
    opacity: 1;
}

@media only screen and (max-width: 1040px) {
    .toolbar-container .media-toolbar .media-toolbar-primary,
    .toolbar-container .media-toolbar .media-toolbar-secondary {
        max-width: 100%;
        float: none;
    }

    .toolbar-container .media-toolbar .media-toolbar-primary {
        text-align: left;
    }
}

@media only screen and (max-width: 900px) {
    .attachment-info .setting .link-options {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 640px) {
    .image-details .media-modal {
        left: 0 !important;
        right: 0 !important;
    }

    .image-details .media-modal select,
    .image-details .media-modal textarea,
    .image-details .media-modal input[type="url"],
    .image-details .media-modal input[type="text"] {
        font-size: 16px;
        padding: 6px 10px;
    }

    .attachment-info .media-modal {
        left: 0 !important;
        right: 0 !important;
    }

    .attachment-info .setting .link-options {
        width: 100%;
        float: none;
        margin: 1px;
    }

    .attachment-info .setting .link-options label {
        margin-top: 8px;
    }

    .toolbar-container .media-toolbar .media-toolbar-primary {
        margin-bottom: 15px;
    }

    .toolbar-container .media-toolbar .media-toolbar-secondary {
        margin-top: 10px;
    }

    .toolbar-container .media-toolbar .randomize {
        display: block;
        float: none;
    }

    .toolbar-container .media-toolbar .media-button {
        float: none;
        margin: 0 10px 10px 0;
    }

    .main-container {
        margin-right: 0;
    }

    .slides-container {
        float: none;
    }

    #slides-browser .ui-sortable {
        min-height: 100px;
    }

    .settings-container {
        float: none;
        margin-top: 20px;
        margin-right: 0;
        width: 100%;
    }
}