.easingslider-badge {
    position: absolute;
    top: 0;
    right: 0;
    height: 160px;
    width: 185px;
    padding-top: 100px;
    color: #abb6c5;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0 -5px;
    background: url(../images/easingslider-badge.jpg) no-repeat;
}

.updated.notice {
    border-color: #ffba00 !important;
}

.about-wrap .changelog .about-text {
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
}

.about-wrap .changelog .about-headline-callout.credits-headline {
    text-align: left;
    margin-bottom: 30px;
}

.about-wrap h4.wp-people-group {
    margin-top: 50px;
}

.about-wrap .welcome-screenshot {
    width: 100%;
    margin: 30px 0 20px 0 !important;
}

@media screen and (max-width: 782px) {
    .welcome-screenshot {
        margin-top: 0 !important;
    }
}